.error-title {
  font-size: 160px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e3451;
  margin: 0;
}

.error-text {
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2e3451;
  margin: 0;
  margin-top: 12px;
}

.error-message {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #939393;
  margin: 0;
  margin-top: 8px;
}

.error-button {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

